# Created by venv; see https://docs.python.org/3/library/venv.html
.vscode
__pycache__/
*.pyc
*.pyo
.DS_Store
env/
venv/
env.bak/
Include/
Lib/
Scripts/
pyvenv.cfg
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints  
.idea/
*.log
*.sqlite3
coverage
*.cover
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg
*.egg-info/
Screenshot_1.png

